@import "compass/reset";
@import "compass/css3";

@mixin clearfix() {
    clear: both;
}

$bg-color: #efefef;
$text-color: #4f4f4f;
$secondy-text-color: #D9DADA;
$highlight-text-color: white;
$button-color: #6cdcac;
$border-color: black;

body {
    font-size: 62.5%;
    text-align: center;
    background: #FFFDF1;
}

.hero {
    max-width: 100em;
    max-height: 100em;
    margin: 0 auto;
    padding: 2em;

    background: url('/images/kano.jpg');
    background-size: cover;

    header {
        img {
            width: 8em;
            height: 8em;
            float: left;
        }

        ul {
            float: right;
        }

        li {
            float: left;
            margin: 1em .5em;
            padding: .5em 1em;
            border: 1px solid transparent;
            border-radius: 2px;
            font-color: highlight-text-color;

            &:last-child {
                border: 3px solid $highlight-text-color;
            }
        }

        @include clearfix;
    }

    h1 {
        font-size: 4em;
        font-color: highlight-text-color;
        padding: 2em 0 1em 0;
    }

    h2 {
        margin: 1em;
        font-size: 2em;
        font-color: highlight-text-color;
    }

    form {
        padding: 2em 0 4em 0;

        input[type="text"] {
            padding: 1em;
            border: 0;
            width: 18em;
            border-radius: 2em 0 0 2em;
            background: $bg-color;
            opacity: .5;
        }

        input[type="button"] {
            color: $highlight-text-color;
            padding: 1em;
            border: 0;
            width: 6em;
            border-radius: 0 1em 1em 0;
            background-color: lightgreen;
        }
    }
}

.numbers {
    width: 80%;
    margin: 0 auto;

    ul {
        position: relative;
        top: 0em;
        background: $bg-color;

        li {
            float: left;
            width: 25%;
            box-sizing: border-box;
            border-top: 1px solid $secondy-text-color;
            border-bottom: 1px solid $secondy-text-color;
            border-left: 1px solid $secondy-text-color;

            &:last-child {
                border-right: 1px solid $secondy-text-color;
            }

            h2 {
                font-size: 2em;
                font-weight:bold;
                padding: 1em 0;
            }

            h3 {
                padding: 0 0 2em 0;
                font-size: 1.5em;
            }
        }

        @include clearfix;
    }
}

.how-it-works {
    display: block;

    margin: 2em auto 2em auto;

    .number {
        font-size: 2em;
        color: $border-color;
        border: 1px solid $border-color;
        width: 1em;
        height: 1em;
        display: block;
        margin: 1em auto 2em auto;
        padding: .4em;

        background-color: $bg-color;
        border-radius: 100%;
    }

    li {
        float: left;
        width: 33.33%;

    }

    p::before {
        content: "";
        display: block;
        color: #6e6e6e;
    }

    p {
        color: #C8C8C7;
        font-size: 2em;
    }

    h2 {
        font-size: 2em;
        text-transform: uppercase;
        padding: 1em 0;

        &:after {
            display: block;
            content: "";
            background-color: $border-color;
            width: 2em;
            height: .1em;
            margin: .4em auto;
        }
    }

    h3 {
        font-size: 1.5em;
        font-weight: bold;
    }

    @include clearfix
}