@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?200299");
  src: url("../fonts/icomoon.eot?#iefix200299") format("embedded-opentype"), url("../fonts/icomoon.woff?200299") format("woff"), url("../fonts/icomoon.ttf?200299") format("truetype"), url("../fonts/icomoon.svg?200299#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 5, F:/ruby/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
/* line 13, ../sass/icomoon.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, F:/ruby/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
/* line 35, ../sass/icomoon.scss */
html {
  line-height: 1;
}

/* line 24, F:/ruby/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
/* line 40, ../sass/icomoon.scss */
ol, ul {
  list-style: none;
}

/* line 26, F:/ruby/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
/* line 45, ../sass/icomoon.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, F:/ruby/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
/* line 51, ../sass/icomoon.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, F:/ruby/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
/* line 58, ../sass/icomoon.scss */
q, blockquote {
  quotes: none;
}

/* line 103, F:/ruby/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
/* line 62, ../sass/icomoon.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, F:/ruby/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
/* line 68, ../sass/icomoon.scss */
a img {
  border: none;
}

/* line 116, F:/ruby/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
/* line 73, ../sass/icomoon.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 14, ../sass/style.scss */
/* line 78, ../sass/icomoon.scss */
body {
  font-size: 62.5%;
  text-align: center;
}

/* line 19, ../sass/style.scss */
/* line 84, ../sass/icomoon.scss */
.hero {
  max-width: 100em;
  max-height: 100em;
  margin: 0 auto;
  padding: 2em;
  background: url("/images/kano.jpg");
  background-size: cover;
}

/* line 28, ../sass/style.scss */
/* line 93, ../sass/icomoon.scss */
.hero header {
  clear: none;
}

/* line 29, ../sass/style.scss */
/* line 97, ../sass/icomoon.scss */
.hero header img {
  width: 8em;
  height: 8em;
  float: left;
}

/* line 34, ../sass/style.scss */
/* line 103, ../sass/icomoon.scss */
.hero header ul {
  float: right;
}

/* line 37, ../sass/style.scss */
/* line 107, ../sass/icomoon.scss */
.hero header li {
  float: left;
  margin: 1em .5em;
  padding: .5em 1em;
  border: 1px solid transparent;
  border-radius: 2px;
  font-color: highlight-text-color;
}

/* line 44, ../sass/style.scss */
/* line 116, ../sass/icomoon.scss */
.hero header li:last-child {
  border: 3px solid white;
}

/* line 52, ../sass/style.scss */
/* line 120, ../sass/icomoon.scss */
.hero h1 {
  font-size: 4em;
  font-color: highlight-text-color;
  padding: 2em 0 1em 0;
}

/* line 58, ../sass/style.scss */
/* line 126, ../sass/icomoon.scss */
.hero h2 {
  margin: 1em;
  font-size: 2em;
  font-color: highlight-text-color;
}

/* line 64, ../sass/style.scss */
/* line 132, ../sass/icomoon.scss */
.hero form {
  padding: 2em 0 4em 0;
}

/* line 67, ../sass/style.scss */
/* line 136, ../sass/icomoon.scss */
.hero form input[type="text"] {
  padding: 1em;
  border: 0;
  width: 18em;
  border-radius: 2em 0 0 2em;
  background: #efefef;
  opacity: .5;
}

/* line 76, ../sass/style.scss */
/* line 145, ../sass/icomoon.scss */
.hero form input[type="button"] {
  color: white;
  padding: 1em;
  border: 0;
  width: 6em;
  border-radius: 0 1em 1em 0;
  background-color: lightgreen;
}

/* line 87, ../sass/style.scss */
/* line 155, ../sass/icomoon.scss */
.numbers {
  width: 80%;
  margin: 0 auto;
}

/* line 91, ../sass/style.scss */
/* line 160, ../sass/icomoon.scss */
.numbers ul {
  position: relative;
  top: 0em;
  background: #efefef;
  clear: none;
}

/* line 96, ../sass/style.scss */
/* line 167, ../sass/icomoon.scss */
.numbers ul li {
  float: left;
  width: 25%;
  box-sizing: border-box;
  border-top: 1px solid #D9DADA;
  border-bottom: 1px solid #D9DADA;
  border-left: 1px solid #D9DADA;
}

/* line 104, ../sass/style.scss */
/* line 176, ../sass/icomoon.scss */
.numbers ul li:last-child {
  border-right: 1px solid #D9DADA;
}

/* line 108, ../sass/style.scss */
/* line 180, ../sass/icomoon.scss */
.numbers ul li h2 {
  font-size: 2em;
  padding: 1em 0;
}

/* line 113, ../sass/style.scss */
/* line 185, ../sass/icomoon.scss */
.numbers ul li h3 {
  padding: 0 0 2em 0;
}
