/* line 5, F:/ruby/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, F:/ruby/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, F:/ruby/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, F:/ruby/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, F:/ruby/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, F:/ruby/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, F:/ruby/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, F:/ruby/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, F:/ruby/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 15, ../sass/style.scss */
body {
  font-size: 62.5%;
  text-align: center;
  background: #FFFDF1;
}

/* line 21, ../sass/style.scss */
.hero {
  max-width: 100em;
  max-height: 100em;
  margin: 0 auto 1em auto;
  padding: 2em 0em 60em 0em;
  background: url("/images/kano.jpg");
  background-size: cover;
}
/* line 30, ../sass/style.scss */
.hero header {
  clear: both;
}
/* line 33, ../sass/style.scss */
.hero header img {
  width: 8em;
  height: 8em;
  float: left;
}
/* line 39, ../sass/style.scss */
.hero header ul {
  float: right;
}
/* line 43, ../sass/style.scss */
.hero header li {
  float: left;
  margin: 1em .5em;
  padding: .5em 1em;
  border: 1px solid transparent;
  border-radius: 2px;
  font-color: highlight-text-color;
}
/* line 51, ../sass/style.scss */
.hero header li:last-child {
  border: 3px solid white;
}

/* line 61, ../sass/style.scss */
.intros h1 {
  font-size: 4em;
  font-color: highlight-text-color;
  padding: .1em 0 1em 0;
}
/* line 67, ../sass/style.scss */
.intros h2 {
  margin: 1em;
  font-size: 2em;
  font-color: highlight-text-color;
}
/* line 73, ../sass/style.scss */
.intros form {
  padding: 2em 0 4em 0;
}
/* line 76, ../sass/style.scss */
.intros form input[type="text"] {
  padding: 1em;
  border: 0;
  width: 18em;
  border-radius: 2em 0 0 2em;
  background: #efefef;
  opacity: .5;
}
/* line 85, ../sass/style.scss */
.intros form input[type="button"] {
  color: white;
  padding: 1em;
  border: 0;
  width: 6em;
  border-radius: 0 1em 1em 0;
  background-color: lightgreen;
}

/* line 96, ../sass/style.scss */
.numbers {
  width: 80%;
  margin: 0 auto;
}
/* line 100, ../sass/style.scss */
.numbers ul {
  position: relative;
  top: 0em;
  background: #efefef;
  clear: both;
}
/* line 105, ../sass/style.scss */
.numbers ul li {
  float: left;
  width: 25%;
  box-sizing: border-box;
  border-top: 1px solid #D9DADA;
  border-bottom: 1px solid #D9DADA;
  border-left: 1px solid #D9DADA;
}
/* line 113, ../sass/style.scss */
.numbers ul li:last-child {
  border-right: 1px solid #D9DADA;
}
/* line 117, ../sass/style.scss */
.numbers ul li h2 {
  font-size: 2em;
  font-weight: bold;
  padding: 1em 0;
}
/* line 123, ../sass/style.scss */
.numbers ul li h3 {
  padding: 0 0 2em 0;
  font-size: 1.5em;
}

/* line 133, ../sass/style.scss */
.how-it-works {
  display: block;
  margin: 2em auto 2em auto;
  clear: both;
}
/* line 138, ../sass/style.scss */
.how-it-works .number {
  font-size: 2em;
  color: black;
  border: 1px solid black;
  width: 1em;
  height: 1em;
  display: block;
  margin: 1em auto 2em auto;
  padding: .4em;
  background-color: #efefef;
  border-radius: 100%;
}
/* line 152, ../sass/style.scss */
.how-it-works li {
  float: left;
  width: 33.33%;
}
/* line 158, ../sass/style.scss */
.how-it-works p::before {
  content: "";
  display: block;
  color: #6e6e6e;
}
/* line 164, ../sass/style.scss */
.how-it-works p {
  color: #C8C8C7;
  font-size: 2em;
}
/* line 169, ../sass/style.scss */
.how-it-works h2 {
  font-size: 2em;
  text-transform: uppercase;
  padding: 1em 0;
}
/* line 174, ../sass/style.scss */
.how-it-works h2:after {
  display: block;
  content: "";
  background-color: black;
  width: 2em;
  height: .1em;
  margin: .4em auto;
}
/* line 184, ../sass/style.scss */
.how-it-works h3 {
  font-size: 1.5em;
  font-weight: bold;
}
